:root {
  --primary-color: #5d2e46;
  --secondary-color: #ad6a6c;
  --location-color: #7d586b;
}

.container-fluid {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin-top: 30px;
  max-width: 700px;
}

.city-weather h1,
ul {
  color: var(--primary-color);
}

h1 {
  font-family: sans-serif;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.temperature-units {
  color: var(--primary-color);
  position: relative;
  top: -45px;
}

a,
.celsius,
.fahrenheit {
  text-decoration: underline;
  color: var(--primary-color);
}

a.active {
  text-decoration: none;
  color: var(--secondary-color);
}

.weather-form {
  padding-top: 15px;
  text-align: center;
}

.btn {
  width: 100%;
}

.btn.btn-purple {
  color: #ffffff;
  background-color: var(--secondary-color);
}

.btn.btn-purple:hover {
  color: var(--secondary-color);
  background-color: #ffffff;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.btn.btn-violet {
  color: #ffffff;
  background-color: var(--location-color);
}

.btn.btn-violet:hover {
  color: var(--location-color);
  background-color: #ffffff;
  border: 1px solid var(--location-color);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.weather-description {
  text-transform: capitalize;
}

.weather-icon {
  width: 100px;
  position: relative;
  top: -25px;
}

.temperature {
  font-size: 80px;
  font-family: sans-serif;
  padding-right: 10px;
  color: var(--primary-color);
}

.weather-details {
  padding-top: 25px;
}

.forecast {
  text-align-last: center;
  font-family: sans-serif;
  color: var(--primary-color);
}
